@using Connexien.Web.Models
@model ProfileModel
@{
    ViewBag.Home = "active";
    ViewBag.Title = "Connexien Service Provider Dashboard";
}


<div class="container">
    <div class="row">
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
            @Html.Partial("_SideNav", Model)
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h4 class="page-header"><span class="glyphicon glyphicon-list-alt" style="vertical-align: -3px;"></span>&nbsp;&nbsp;Firm Profile: Company Contact Info</h4>
            @using (Html.BeginForm("SaveProfile", "Member", new { id = "Company" }, FormMethod.Post, new { @class = "form-provider-setup", role = "form" }))
            {
                <input type="hidden" name="profileId" value="@Model.Id" />
                @Html.Partial("Forms/_Profile_Company", Model)
                <hr />
                <div class="text-right">
                    <button type="submit" class="btn btn-lg btn-success btn-submit" data-loading-text="Saving...">Save</button>
                </div>
            }
        </div>
    </div>
</div>
