@{
    ViewBag.Title = "Connexien: Publisher";
    Layout = "~/Views/Shared/_SplashLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="wizard-card">
                <div class="modal-header">
                    <h3 class="modal-title text-center">
                        Digital Downloads Made Easy
                    </h3>
                </div>
                <div class="modal-body text-center">
                    <p>
                        If you need additional resources to compliment or expand your existing products and/or services, 
                        we offer an expansive digital library of customizable forms, templates, documents and checklists for immediate 
                        download. To get started, simply click to view our digital library, select your industry focus and find the resource thats right for you.
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6" style="padding-top:10px">
                            <a id="btnStore" href="https://store.connexien.com" class="btn btn-primary btn-block">View Digital Library</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>