
<div class="col-xs-12 col-sm-4 fill-height">
    <div class="alert alert-info" style="margin: 20px 0 0 0;">
        <a href="@Url.Action("Dashboard", "Publication", new { nav = 9 })">
            <h6><span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;Need a greater audience?</h6>
            <p class="">Get published through our <u>Publication Manager</u>.</p>
        </a>
    </div>
</div>
